html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body,
.wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper .main {
    flex: 1;
}

.header,
.footer {
    flex-shrink: 0;
}

body {
    color: #000;
    font: 16px 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    background-color: #34547A;
    outline: 0;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 40px;
    transition: .15s background-color;
}

.btn:hover {
    background-color: #4b719d;
}

.btn:active {
    background-color: #224368;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.header {
    background-color: #EEEFF1;
    padding: 56px 0 140px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    color: #34547A;
    font-family: 'Revalia', cursive;
    font-size: 48px;
    display: inline-block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navigation li:not(:last-child) {
    margin-right: 42px;
}

.navigation li.active a,
.navigation a:hover {
    color: #34547A;
}

.navigation a {
    color: #000;
    text-transform: uppercase;
}

.hero {
    display: flex;
    align-items: center;
}

.hero__img {
    text-align: center;
}

.hero__img svg {
    display: block;
    margin: auto;
}

.hero__img,
.hero__content {
    width: 50%;
}

.hero__title,
.hero__subtitle {
    margin: 0 0 35px;
}

.hero__title {
    font-size: 48px;
    font-weight: 500;
}

.hero__subtitle {
    color: #727272;
    line-height: 164.1%;
}

.hero__btn {
    min-width: 225px;
    height: 64px;
}